@page "/cart"
@using ItIsPizzaDay.Client.Pages.OrdersComponent
@inherits CartComponent

<h1>Carrello</h1>

<div class="row mb-2">
    <input type="button" class="btn btn-block btn-outline-dark mr-2" value="Ordina" disabled="@(FoodsOrder.Count < 1)" onclick="@(() => DoOrder())"/>
    <input type="button" class="btn btn-block btn-outline-dark" value="Svuota Carrelo" disabled="@(FoodsOrder.Count < 1)" onclick="@(() => Clear())"/>
</div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ordine</th>
            <th scope="col">Supplementi</th>
            <th scope="col">Rimozioni</th>
            <th scope="col">Prezzo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in FoodsOrder.Select((value, i) => new { i, value }))
        {
            <tr>
                <th scope="row">@(item.i + 1)</th>
                <td>@item.value.FoodNavigation.Name</td>
                <td>
                    <ul>
                        @foreach (var ingredient in item.value.FoodOrderIngredient.Where(i => !i.Isremoval))
                        {
                            <li>@ingredient.IngredientNavigation.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var ingredient in item.value.FoodOrderIngredient.Where(i => i.Isremoval))
                        {
                            <li>@ingredient.IngredientNavigation.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    @((item.value.FoodOrderIngredient.Where(i => !i.Isremoval).Sum(i => i.IngredientNavigation.Price ?? 0) + item.value.FoodNavigation.Price).ToString("N2")) &euro;
                </td>
                <td>
                    <input type="button" class="btn btn-outline-danger" value="Elimina" onclick=@(_ => Delete(item.value.Id))/>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>